.logo {
  width: 190px;
  height: 35px;
  background: url('image/logo.svg');
  }
.menu {
  font-family: 'Roboto', sans-serif;
}
.main-content__title {
  font-family: 'PT Serif', serif;
}
.main-content__subtitle {
  font-family: 'Roboto', sans-serif;
  }
.button {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.logo, .menu {
  display: inline-block;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #0056EC;
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
 opacity: 1;
 width: 100%;
}
