h1 {
font-family: 'Roboto', sans-serif;
}
h2 {
font-family: 'Roboto', sans-serif;
}
p {
font-family: 'PT Sans', sans-serif;
}
header {
font-family: 'PT Sans', sans-serif;
}
button {
font-family: 'PT Sans', sans-serif;
}
